@font-face {


}

/* (A) MATERIAL ICONS */
.material-icons {
    font-size: 28px;
    color: #000;
}

/* (B) WRAPPER */
#aWrap {
    font-family: arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    max-width: 500px;
    padding: 10px;
    border-radius: 10px;
    background: #fc3e00;
}

/* (C) PLAY/PAUSE BUTTON */
#aPlay {
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
    cursor: pointer;
}

/* (D) TIME */
#aCron {
    font-family: 'ibm_3270regular';
    src: url('../fonts/3270-regular.woff2') format('woff2'),
    url('../fonts/3270-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #000;
    margin: 0 10px;
}

/* (E) RANGE SLIDERS */
/* (E1) HIDE DEFAULT */
#aWrap input[type="range"] {
    box-sizing: border-box;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 150px;
    padding: 0;
    margin: 0;
    background: 0;
}
#aWrap input[type="range"]::-webkit-slider-thumb {
    appearance: none;
}

/* (E2) CUSTOM SLIDER TRACK */
#aWrap input[type=range]::-webkit-slider-runnable-track {
    background: #000;
    border-radius: 10px;
}
#aWrap input[type=range]::-moz-range-track {
    background: #fff;
}

/* (E3) CUSTOM SLIDER BUTTON */
#aWrap input[type=range]::-webkit-slider-thumb {
    width: 16px; height: 16px;
    border-radius: 50%;
    border: 0;
    background: #fc3e00;
}
#aWrap input[type=range]::-moz-range-thumb {
    width: 16px; height: 16px;
    border-radius: 50%;
    border: 0;
    background: #fc3e00;
}

/* (F) VOLUME */
#aVolIco {
    margin: 0 10px;
    cursor: pointer;
}

/* (G) PLAYLIST */
#aList {
    font-family: 'ibm_3270regular';
    src: url('../fonts/3270-regular.woff2') format('woff2'),
    url('../fonts/3270-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    width: 100%;
    padding: 10px;
    margin: 10px;
    color: #fc3e00;
    background: #000;
}

.aRow:hover {
    color: #000;
    background: #fc3e00;
}
.aRow {
    cursor: pointer;
    padding: 10px 0;
}
.aRow.now {
    color: #000;
    background: #fc3e00;
}