@font-face {
    font-family: 'ibm_3270regular';
    src: url('../fonts/3270-regular.woff2') format('woff2'),
    url('../fonts/3270-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'ibm_3270regular' !important;
    font-size: 1.2rem !important;
}

.text-right {
    text-align: end;
    display: inline-block;
}

.bg-terminal {
    background-color: #000000; /* Black background */
    color: #4AF626; /* Green text */
    border-radius: 8px;
    border: 10px solid lightgray;
}

.terminal-card {
    border: 2px solid #4AF626; /* Green border */
    text-decoration: none;
    padding: 10px;
    margin: 0.5em;
    margin-bottom: 10px;

    background-color: #000000; /* Black background */
}

.terminal-card:hover {
    color: #000000; /* Black text */
    background-color: #4AF626; /* Green background */
}

.terminal-clickable {
    text-decoration: none;
    color: #4AF626; /* Green text */
}

.terminal-card2 {
    border: 2px solid #4AF626; /* Green border */
    text-decoration: none;
    padding: 10px;
    margin: 0.5em;
    margin-bottom: 10px;

    background-color: #000000; /* Black background */
}

.input-black-green {
    margin: 0.5em;
    display: inline;
    width: 90%;
    background-color: #000000 !important; /* Black background */
    color: #4AF626 !important; /* Green text */
    border: 2px solid #4AF626 !important; /* Green border */
}

.input-black-green::placeholder {
    color: rgba(74,246,38,0.5); /* Green text */
}

.input-black-green:focus {
    box-shadow: none; /* Removes the box shadow */
    outline: none; /* Removes the outline */
}

.submit-button {
    text-decoration: none;
    background: none;
    border: none;
    color: #4AF626; /* Green text */
    cursor: pointer;
    font-size: 1em;
}

.submit-button:hover {
    text-decoration: none;
    background-color: #4AF626; /* Green background */
    color: #000000; /* Black text *
}